@page "/books/Details/{Id:int}"
@using RecettesIndex.Data
@inject HttpClient Http

@if (book == null)
{
    <p><em>Chargement...</em></p>
}
else
{
    <PageTitle>@book.Name</PageTitle>
    <DisplayHeading>@book.Name</DisplayHeading>
    <dl>
        <dt>Titre</dt>
        <dd>@book.Name</dd>
        <dt>Auteur</dt>
        <dd>
            @if (book.Author != null)
            {
                <a href="/authors/Details/@book.Author.Id">@book.Author.FullName</a>
            }
        </dd>
        <dt>Date</dt>
        <dd>@book.CreatedAt.ToShortDateString()</dd>
    </dl>

    <h2>Recettes</h2>
    <RecettesIndex.Features.Recettes.Components.RecettesList Recettes="@recettes" />

    <Blazorise.Link To="/books">Retour à la liste des livres</Blazorise.Link>
}

@code {
    [Parameter]
    public int Id { get; set; }
    private Book? book;
    private Recette[]? recettes;
    protected override async Task OnInitializedAsync()
    {
        book = await Http.GetFromJsonAsync<Book>($"api/books/{Id}");
        recettes = await Http.GetFromJsonAsync<Recette[]>($"api/recettes/book/{Id}");
    }
}