@page "/books/Details/{Id:int}"
@using RecettesIndex.Data
@inject HttpClient Http


@if (book == null)
{
    <RecettesPageTitle>Chargement...</RecettesPageTitle>
    <p><em>Chargement...</em></p>
}
else
{
    <RecettesPageTitle>@book.Title</RecettesPageTitle>
    <MudText Typo="Typo.h1">@book.Title</MudText>
    <MudField Label="Auteur">
        @if (book.Author != null)
        {
            <MudLink Href="@($"/authors/Details/{@book.Author.Id}")">@book.Author.FullName</MudLink>
        }
    </MudField>
    <MudField Label="Date">@book.CreatedAt.ToShortDateString()</MudField>

    <MudText Typo="Typo.h2">Recettes</MudText>
    <RecettesIndex.Features.Recettes.Components.RecettesList Recettes="@recettes" />

    <MudLink Href="/books">Retour à la liste des livres</MudLink>
}

@code {
    [Parameter]
    public int Id { get; set; }
    private Book? book;
    private Recette[]? recettes;
    protected override async Task OnInitializedAsync()
    {
        book = await Http.GetFromJsonAsync<Book>($"api/books/{Id}");
        recettes = await Http.GetFromJsonAsync<Recette[]>($"api/recettes/book/{Id}");
    }
}