<MudTable Items="@Recettes">
    <HeaderContent>
        <MudTh>Nom</MudTh>
        <MudTh>Livre</MudTh>
        <MudTh>Page</MudTh>
        <MudTh>Note</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Nom" >
            <MudLink Href="@($"/recettes/Details/{@context.Id}")">@context.Name</MudLink>
        </MudTd>
        <MudTd DataLabel="Livre">
            @if (context.Book != null)
            {
                <MudLink Href="@($"/books/Details/{@context.BookId}")">@context.Book.Title</MudLink>
            }
        </MudTd>
        <MudTd DataLabel="Page">
            @if (context.Page.HasValue)
            {
                <div>p. @context.Page</div>
            }
        </MudTd>
        <MudTd DataLabel="Page">
            @if (context.Rating.HasValue)
            {
                <MudRating Max="5" SelectedValue="@context.Rating.Value" ReadOnly="true" FullIcon="@Icons.Material.Filled.LocalPizza" EmptyIcon="@Icons.Material.Outlined.LocalPizza" />
            }
        </MudTd>
    </RowTemplate>
</MudTable>

@code {

    [Parameter]
    public IEnumerable<Recette> Recettes { get; set; } = new List<Recette>();
}
