@page "/recettes/Details/{Id:int}"
@using RecettesIndex.Data
@inject HttpClient Http


@if (recette == null)
{
    <p><em>Chargement...</em></p>
}
else
{
    <PageTitle>@recette.Name</PageTitle>
    <DisplayHeading TextColor="TextColor.Light">@recette.Name</DisplayHeading>
    <dl>
        <dt>Recette</dt>
        <dd>@recette.Name</dd>
        <dt>Livre</dt>
        <dd>
            @if (recette.Book != null)
            {
                <a href="/books/Details/@recette.Book.Id">@recette.Book.Name</a>
            }
        </dd>
        <dt>Date</dt>
        <dd>@recette.CreatedAt.ToShortDateString()</dd>
        <dt>Note</dt>
        <dd>
            <Rating Color="Color.Primary" @bind-SelectedValue="@recette.Rating" MaxValue="5" ReadOnly />
        </dd>
    </dl>

    <Blazorise.Link To="/recettes">
        Retour à la liste des recettes
    </Blazorise.Link>
}

@code {
    [Parameter]
    public int Id { get; set; }
    private Recette? recette;
    protected override async Task OnInitializedAsync()
    {
        recette = await Http.GetFromJsonAsync<Recette>($"api/recettes/{Id}");
    }
}