@page "/recettes/Details/{Id:int}"
@using RecettesIndex.Data
@inject HttpClient Http


@if (recette == null)
{
    <p><em>Chargement...</em></p>
}
else
{
    <PageTitle>@recette.Name</PageTitle>
    <Heading Size="HeadingSize.Is1" TextColor="TextColor.Light">@recette.Name</Heading>
    
    <LabelValue Label="Livre">
        @if (recette.Book != null)
        {
            <a href="/books/Details/@recette.Book.Id">@recette.Book.Title</a>
        }
    </LabelValue>
    <LabelValue Label="Date">
            @recette.CreatedAt.ToShortDateString()    
    </LabelValue>
    <LabelValue Label="Note">
        <Rating Color="Color.Primary" @bind-SelectedValue="@recette.Rating" MaxValue="5" ReadOnly />
    </LabelValue>

    <Blazorise.Link To="/recettes">
        Retour à la liste des recettes
    </Blazorise.Link>
}

@code {
    [Parameter]
    public int Id { get; set; }
    private Recette? recette;
    protected override async Task OnInitializedAsync()
    {
        recette = await Http.GetFromJsonAsync<Recette>($"api/recettes/{Id}");
    }
}