@page "/recettes/Details/{Id:int}"
@using RecettesIndex.Data
@inject HttpClient Http

<h1>Recette</h1>

@if (recette == null)
{
    <p><em>Chargement...</em></p>
}
else
{
    <MudField Label="Recette" Variant="Variant.Text">@recette.Name</MudField>
    <MudField Label="Livre">
        @if (recette.Book != null)
        {
            <MudLink Href="@($"books/Details/{@recette.Book.Id}")">@recette.Book.Title</MudLink>
        }
    </MudField>
    <MudField Label="Note">
        @if (recette.Rating != null)
        {
            <MudRating Max="5" SelectedValue="@recette.Rating.Value" ReadOnly="true" FullIcon="@Icons.Material.Filled.LocalPizza" EmptyIcon="@Icons.Material.Outlined.LocalPizza" />
        }
    </MudField>
    <MudField Label="Date">@recette.CreatedAt.ToShortDateString()</MudField>
    <MudLink Href="/recettes">Retour à la liste des recettes</MudLink>
}

@code {
    [Parameter]
    public int Id { get; set; }
    private Recette? recette;
    protected override async Task OnInitializedAsync()
    {
        recette = await Http.GetFromJsonAsync<Recette>($"api/recettes/{Id}");
    }
}